*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;   
    background-image: url("../images/menu2.jpg  ");
    background-attachment: fixed;
    background-size: cover;
}

.navigation ul{
    list-style-type: none;
}

.navigation li{
    float: left;
    width: 15%;
    text-align: center;
}

.navigation ul::after{
    content: "";
    display: table;
    clear: both;
}

.navigation{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(225, 215, 200);

}

.navigation a{
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: white;
    border-bottom: 3px solid rgb(225, 215, 200);
    padding: 15px 0px;
}

.navigation a:hover{
    background-color: rgb(223, 207, 183);
    color: white;
    border-bottom: 3px solid;
}

.photo{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.titre{
    width: 100%;
    border: 1px solid white;
    background: linear-gradient(blanchedalmond,white);
    opacity: 0.90;
    font-size: 25px;
    padding: 20px;
}

.titre h2{
    display: flex;
    justify-content: center;
}

#message{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    background-color:blanchedalmond;
    background: linear-gradient(blanchedalmond,white);
    padding: 15px;
    margin-bottom: 0px
}