*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("../images/fond.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.navigation ul{
    list-style-type: none;
}

.navigation li{
    float: left;
    width: 15%;
    text-align: center;
}

.navigation ul::after{
    content: "";
    display: table;
    clear: both;
}

.navigation{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(226, 75, 75);

}

.navigation a{
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: white;
    border-bottom: 3px solid rgb(226, 75, 75);
    padding: 15px 0px;
    transition: 0.2s;
}

.navigation a:hover{
    background-color: rgb(201, 75, 75);;
    color: white;
    border-bottom: 3px solid;
}

.noms{
    text-align: center;
}

.noms img{
    width: 200mm;
    height: auto;
}

.photos{
    margin: Opx;
    padding: 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.date{
    font-size: 70px;
    font-weight: normal;
    color:rgb(255, 255, 255);
    font-family: '';
    text-align: center;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50px;
}

.M-A {
    border-radius: 40%;
}

.R{
	border-radius: 40%;
}

.texte p{
    font-size: 20px;
    font-weight: bolder;
    color: black;
    background-color: white ;
    opacity: 0.80;
    padding: 30px;
    border-radius: 10%;
    text-align: center;
}